/* ======== Variables ======= */
:root {
	/* Text colors */
	--main-txt-cl: #000000 ;
	--white-txt-bg-cl:  #FFFFFF;
	--placeholder-txt-cl: #939EAC;

	/* BG colors */
	--main-bg: #ffffff;
	--gradient-bg-cl:linear-gradient(90.03deg, #00C5EB -1.97%, #B544FE 89.43%);
	--light-bg-cl: #F6FDFE;
	--dark-bg-cl: #06071B;
	--second-dark-color: #07081C;
	
	/* Font */
	--font-main: 'Inter', sans-serif;
	--font-secondary: 'Montserrat', sans-serif;
}
/* ========================== */