<!-- Features -->
<section class="features">
	<div class="container features__container">
		<div class="features__desc" 
		data-aos="fade-down"
		data-aos-duration="700"
		data-aos-once="true">
			<h2 class="features__title">KEY FEATURES</h2>
			<p class="features__text">Nunc vulputate nibh sed congue facilisis. Curabitur posuere scelerisque neque. In sit amet lectus non lacus sollicitudin cursus a vitae felis. Praesent luctus mi quis nisi interdum eleifend.</p>
		</div>

		<div class="features__wrapper">
			<picture class="features__img">
					
				<source 
					media="(min-width: 1280px)"
					srcset="
					./images/features/img-1_desk.webp    1x,
					./images/features/img-1_desk@2x.webp 2x
					"
					type="image/webp" 
					width="396"
					height="602"
				/>
				<source
					media="(min-width: 1280px)"
					srcset="
					./images/features/img-1_desk.png     1x,
					./images/features/img-1_desk@2x.png 2x
					"
					type="image/png" 
					width="396"
					height="602"
				/>
				
				<source
					media="(min-width: 768px)"
					srcset="
					./images/features/img-1_tab.webp    1x,
					./images/features/img-1_tab@2x.webp 2x
					"
					type="image/webp" 
					width="368"
					height="594"
				/>
				<source
				media="(min-width: 768px)"
				srcset="
					./images/features/img-1_tab.png    1x,
					./images/features/img-1_tab@2x.png 2x
					"
				type="image/png"
				width="368"
				height="594"
				/>
				
				<source
				media="(max-width: 767px)"
				srcset="
					./images/features/img-1_mob.webp    1x,
					./images/features/img-1_mob@2x.webp 2x
					"
				type="image/webp" 
				width="280"
				height="406"
				/>
				<source
				media="(max-width: 767px)"
				srcset="
					./images/features/img-1_mob.png    1x,
					./images/features/img-1_mob@2x.png 2x
					"
				type="image/png"
				width="280"
				height="406"
				/>
				<img
				src="./images/features/img-1_mob.png"
				alt="Key Features"
				width="280"
				height="406"
				loading="lazy"
				/>
			</picture>

			

			<ul class="features__list" 
			data-aos="fade-down"
			data-aos-duration="1000"
			data-aos-once="true">
				<li class="features__item">
					<div class="features__item--thumb">
						<h3 class="features__item--title">Amet varius</h3>
					<p class="features__item--text">Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus diam a iaculis malesuada</p>
					</div>
				</li>
				<li class="features__item">
					<div class="features__item--thumb">
						<h3 class="features__item--title">Amet varius</h3>
						<p class="features__item--text">Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus diam a iaculis malesuada</p>
					</div>
				</li>
				<li class="features__item">
					<div class="features__item--thumb">
						<h3 class="features__item--title">Amet varius</h3>
						<p class="features__item--text">Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus diam a iaculis malesuada</p>
					</div>
				</li>
				<li class="features__item">
					<div class="features__item--thumb">
						<h3 class="features__item--title">Amet varius</h3>
						<p class="features__item--text">Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus diam a iaculis malesuada</p>
					</div>
				</li>
				<li class="features__item">
					<div class="features__item--thumb">
						<h3 class="features__item--title">Amet varius</h3>
						<p class="features__item--text">Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus diam a iaculis malesuada</p>
					</div>
				</li>
				<li class="features__item features__item--tab">
					<div class="features__item--thumb">
						<h3 class="features__item--title">Amet varius</h3>
						<p class="features__item--text">Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus diam a iaculis malesuada</p>
					</div>
				</li>
			</ul>
		</div>
	</div>
</section>