<footer class="page-footer">
    <div class="container">
        <h2 class="page-footer__title">CONTACT US</h2>
        <div class="page-footer__tumb">
            <form class="contact-us">
                <input class="contact-us__input" type="text" placeholder="Name">
                <input class="contact-us__input" type="text" placeholder="Email">
                <textarea class="contact-us__textarea" name="" id="" placeholder="Message"></textarea>
                <button class="contact-us__button" type="submit">
                    <span class="contact-us__button-text">SUBMIT</span>
                </button>
            </form>
            <div class="page-footer__block">
                <strong class="page-footer__subtitle">Get in touch with us</strong>
                <p class="page-footer__desc">Nunc urna est, tristique et varius at, pharetra nec enim. Quisque rhoncus lacus fringilla nulla sollicitudin tristique.</p>
                <!--start block "socials-block"-->
                <ul class="socials-block">
                    <li class="socials-block__item">
                        <a class="socials-block__link" href="">
                            <svg class="socials-block__icon" width="40" height="40">
                                <use class="socials-block__icon-default" href="#"></use>
                                <use class="socials-block__icon-hover" href="# "></use>
                            </svg>
                        </a>
                    </li>
                    <li class="socials-block__item">
                        <a class="socials-block__link" href="">
                            <svg class="socials-block__icon" width="40" height="40">
                                <use class="socials-block__icon-hover" href="#"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="socials-block__item">
                        <a class="socials-block__link" href="">
                            <svg class="socials-block__icon" width="40" height="4">
                                <use href="#"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
                <!--end block "socials-block"-->
                <!--start block "contact-nav"-->
                <ul class="contact-nav">
                    <li class="contact-nav__item">
                        <a class="contact-nav__link" href="tel:+380961111111">+38 096 111 11 11</a>
                    </li>
                    <li class="contact-nav__item">
                        <a class="contact-nav__link" href="mailto:goIteens@gmail.com">goIteens@gmail.com</a>
                    </li>
                </ul>
                <!--end block "contact-nav"-->
            </div>
        </div>
    </div>
    <div class="footer-copyrights">
        <div class="container">
            <p class="footer-copyrights_desc">©&nbsp; 2019 GoIteens Template. All Rights Reserved</p>
        </div>
    </div>
</footer>
