<!-- header -->
<header class="header">
    <div class="container header-container">
        <nav class="nav">
            <a class="header-logo" href="./index.html">Mobileapp</a>
            <ul class="nav__list">
                <li class="nav__item">HOME</li>
                <li class="nav__item">FEATURES</li>
                <li class="nav__item">TEAM</li>
                <li class="nav__item">TESTIMONIALS</li>
                <li class="nav__item">CONTACT</li>
            </ul>
        </nav>
    </div>
</header>
