<!-- hero -->
<section class="hero">
    <div class="container hero-container">
        <img class="hero__img-second" 
        srcset=
        "./images/hero/hero/dark-tel328.png 328w,
        ./images/hero/hero/dark-tel422.png 422w,
        ./images/hero/hero/dark-tel459.png 459w,
        ./images/hero/hero/dark-tel656.png 656w,
        ./images/hero/hero/dark-tel844.png 844w,
        ./images/hero/hero/dark-tel918.png 918w"

        sizes="(min-width: 1280px) 459px, (min-width: 768px) 328px, (min-width: 480px) 422px, 100vw"
        src="./images/hero/img-1sm.png" alt="телефон" width="422">
        <img class="hero__img"
        srcset=
        "./images/hero/hero/1-tel308.png 308w,
        ./images/hero/hero/1-tel394.png 395w,
        ./images/hero/hero/1-tel430.png 430w,
        ./images/hero/hero/1-tel614.png 614w,
        ./images/hero/hero/1-tel788.png 788w,
        ./images/hero/hero/1-tel860.png 860w"

        sizes="(min-width: 1280px) 430px, (min-width: 768px) 307px, (min-width: 480px) 395px, 100vw"
        src="./images/hero/img-2sm.png" alt="" width="395">
        <div class="hero-block">
            <h1 class="hero__main-title">Introducing Mobileapp</h1>
            <h2 class="hero__title">Maecenas vitae tellus sapien. Prasent</h2>
            <ul class="hero__list">
                <li class="hero__item">semper scelerisque tristique a enim</li>
                <li class="hero__item">Integer ut mattis nulla, eget vehicula elit</li>
                <li class="hero__item">Prasent rutrum ac nunc et</li>
            </ul>
        </div>
        <button class="hero__button" type="button">
            <span class="hero__button-text">DOWNLOAD</span>
        </button>
    </div>
</section>
<div class="block container"></div>