<!-- hero -->
<section class="hero">
    <div class="hero-container">
        <img class="hero__img" src="./images/hero/tel-1sm.png" alt="телефон" width="395">
        <div class="hero-block">
            <h1 class="hero__main-title">Introducing Mobileapp</h1>
            <h2 class="hero__title">Maecenas vitae tellus sapien. Prasent</h2>
            <ul class="hero__list">
                <li class="hero__item">semper scelerisque tristique a enim</li>
                <li class="hero__item">Integer ut mattis nulla, eget vehicula elit</li>
                <li class="hero__item">Prasent rutrum ac nunc et</li>
            </ul>
        </div>
    </div>
</section>