<div class="modal is-hidden" data-modal>
    <div class="modal__container">
        <button class="modal__close" type="button" data-modal-close>
            <svg width="24" height="24" class="modal__close--icon">
                <use href="./images/icon.svg#icon-close"></use>
            </svg>
        </button>
        <p class="modal__title">Download</p>
        <div class="modal__wrapper">
            <div class="modal__plan plan modal__plan--active">
                <svg class="plan__icon" width="80" height="105">
                    <use href="./images/icon.svg#icon-download"></use>
                </svg>
                <p class="plan__title">Download free plan</p>
                <ul class="plan__list">
                    <li class="plan__item">
                        <svg width="14" height="14" class="plan__item--style">
                            <use href="./images/icon.svg#icon-right-arrow"></use>
                        </svg>
                        <span>Donec posuere augue venenatis, aliquet </span>
                    </li>
                    <li class="plan__item">
                        <svg width="14" height="14" class="plan__item--style">
                            <use href="./images/icon.svg#icon-right-arrow"></use>
                        </svg>
                        <span>Donec posuere augue venenatis, aliquet </span>
                    </li>
                </ul>
            </div>
            <div class="modal__plan plan">
                <svg class="plan__icon" width="80" height="105">
                    <use href="./images/icon.svg#icon-download"></use>
                </svg>
                <p class="plan__title">Download free plan</p>
                <ul class="plan__list">
                    <li class="plan__item">
                        <svg width="14" height="14" class="plan__item--style">
                            <use href="./images/icon.svg#icon-right-arrow"></use>
                        </svg>
                        <span>Donec posuere augue venenatis, aliquet </span>
                    </li>
                    <li class="plan__item">
                        <svg width="14" height="14" class="plan__item--style">
                            <use href="./images/icon.svg#icon-right-arrow"></use>
                        </svg>
                        <span>Donec posuere augue venenatis, aliquet </span>
                    </li>
                    <li class="plan__item">
                        <svg width="14" height="14" class="plan__item--style">
                            <use href="./images/icon.svg#icon-right-arrow"></use>
                        </svg>
                        <span>Donec posuere augue venenatis, aliquet </span>
                    </li>
                </ul>
            </div>
        </div>
        <p class="modal__text">Nunc vulputate nibh sed congue facilisis. Curabitur posuere scelerisque neque.
            In sit amet lectus non lacus
        </p>
        <div class="modal__details details">
            <ul class="details__list details__list--top">
                <li class="details__item">
                    <svg width="28" height="28" class="details__icon">
                        <use href="./images/icon.svg#icon-name"></use>
                    </svg>
                    <details__text>
                        <p class="details__text--first">App name</p>
                        <p class="details__text--second">Mobileapp.layout</p>
                    </details__text>
                </li>
                <li class="details__item">
                    <svg width="28" height="28" class="details__icon">
                        <use href="./images/icon.svg#icon-license"></use>
                    </svg>
                    <details__text>
                        <p class="details__text--first">License</p>
                        <p class="details__text--second">Free</p>
                    </details__text>
                </li>
                <li class="details__item">
                    <svg width="28" height="28" class="details__icon">
                        <use href="./images/icon.svg#icon-author"></use>
                    </svg>
                    <details__text>
                        <p class="details__text--first">Author</p>
                        <p class="details__text--second">Mobile Marrket App.com</p>
                    </details__text>
                </li>
                <li class="details__item">
                    <svg width="28" height="28" class="details__icon">
                        <use href="./images/icon.svg#icon-data"></use>
                    </svg>
                    <details__text>
                        <p class="details__text--first">Data</p>
                        <p class="details__text--second">21.02.2022</p>
                    </details__text>
                </li>
            </ul>
            <ul class="details__list details__list--bottom">
                <li class="details__item">
                    <svg width="28" height="28" class="details__icon">
                        <use href="./images/icon.svg#icon-oc"></use>
                    </svg>
                    <details__text>
                        <p class="details__text--first">OC</p>
                        <p class="details__text--second">Windows</p>
                    </details__text>
                </li>
                <li class="details__item">
                    <svg width="28" height="28" class="details__icon">
                        <use href="./images/icon.svg#icon-language"></use>
                    </svg>
                    <details__text>
                        <p class="details__text--first">Language</p>
                        <p class="details__text--second">English</p>
                    </details__text>
                </li>
                <li class="details__item">
                    <svg width="28" height="28" class="details__icon">
                        <use href="./images/icon.svg#icon-size"></use>
                    </svg>
                    <details__text>
                        <p class="details__text--first">Size</p>
                        <p class="details__text--second">4.16 MB</p>
                    </details__text>
                </li>
                <li class="details__item">
                    <svg width="28" height="28" class="details__icon">
                        <use href="./images/icon.svg#icon-downloads"></use>
                    </svg>
                    <details__text>
                        <p class="details__text--first">Downloads</p>
                        <p class="details__text--second">964</p>
                    </details__text>
                </li>
            </ul>
        </div>
        <button class="modal__button" type="button">Download</button>
    </div>
</div>