<section class="testimonials section">
    <div class="container">
        <h2 class="testimonials__title"
		data-aos="fade-down"
		data-aos-duration="700"
		data-aos-once="true"
		>WHAT OUR COSTUMER’S SAY</h2>
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="testimonials__card swiper-slide">
                    <picture>
                        <source srcset="
                        ./images/reviews/reviews-01.webp 1x,
                        ./images/reviews/reviews-01@2x.webp 2x
                        " type="image/jpg">
                        <source srcset="
                        ./images/reviews/reviews-01.jpg 1x,
                        ./images/reviews/reviews-01@2x.jpg 2x
                        " type="image/jpg">
                        <img src="./images/reviews/reviews-01.jpg" alt="автор відгука" width="181" height="181"
                            class="testimonials__image">
                    </picture>
                    <h3 class="testimonials__name">Jon Doe</h3>
                    <p class="testimonials__company">Company Inc.</p>
                    <p class="testimonials__text">Vestibulum placerat nisl quis justo venenatis, et lacinia nunc
                        venenatis. semper libero nec sapien condimentum dignissim. Nunc ante ligula, tempor in tellus
                        in, gravida vestibulum justo. Nulla facilisi. Nullam tristique eros quis nibh tempus, vel
                        viverra dolor pretium. Nam et vehicula leo. Vivamus hendrerit sit amet ante a tempus. Aenean
                        gravida massa et ante pulvinar, id </p>
                </div>
                <div class="testimonials__card swiper-slide">
                    <picture>
                        <source srcset="
                        ./images/reviews/reviews-01.webp 1x,
                        ./images/reviews/reviews-01@2x.webp 2x
                        " type="image/jpg">
                        <source srcset="
                        ./images/reviews/reviews-01.jpg 1x,
                        ./images/reviews/reviews-01@2x.jpg 2x
                        " type="image/jpg">
                        <img src="./images/reviews/reviews-01.jpg" alt="автор відгука" width="181" height="181"
                            class="testimonials__image">
                    </picture>
                    <h3 class="testimonials__name">Jon Doe</h3>
                    <p class="testimonials__company">Company Inc.</p>
                    <p class="testimonials__text">Vestibulum placerat nisl quis justo venenatis, et lacinia nunc
                        venenatis. semper libero nec sapien condimentum dignissim. Nunc ante ligula, tempor in tellus
                        in, gravida vestibulum justo. Nulla facilisi. Nullam tristique eros quis nibh tempus, vel
                        viverra dolor pretium. Nam et vehicula leo. Vivamus hendrerit sit amet ante a tempus. Aenean
                        gravida massa et ante pulvinar, id </p>
                </div>
                <div class="testimonials__card swiper-slide">
                    <picture>
                        <source srcset="
                        ./images/reviews/reviews-01.webp 1x,
                        ./images/reviews/reviews-01@2x.webp 2x
                        " type="image/jpg">
                        <source srcset="
                        ./images/reviews/reviews-01.jpg 1x,
                        ./images/reviews/reviews-01@2x.jpg 2x
                        " type="image/jpg">
                        <img src="./images/reviews/reviews-01.jpg" alt="автор відгука" width="181" height="181"
                            class="testimonials__image">
                    </picture>
                    <h3 class="testimonials__name">Jon Doe</h3>
                    <p class="testimonials__company">Company Inc.</p>
                    <p class="testimonials__text">Vestibulum placerat nisl quis justo venenatis, et lacinia nunc
                        venenatis. semper libero nec sapien condimentum dignissim. Nunc ante ligula, tempor in tellus
                        in, gravida vestibulum justo. Nulla facilisi. Nullam tristique eros quis nibh tempus, vel
                        viverra dolor pretium. Nam et vehicula leo. Vivamus hendrerit sit amet ante a tempus. Aenean
                        gravida massa et ante pulvinar, id </p>
                </div>
                <div class="testimonials__card swiper-slide">
                    <picture>
                        <source srcset="
                        ./images/reviews/reviews-01.webp 1x,
                        ./images/reviews/reviews-01@2x.webp 2x
                        " type="image/jpg">
                        <source srcset="
                        ./images/reviews/reviews-01.jpg 1x,
                        ./images/reviews/reviews-01@2x.jpg 2x
                        " type="image/jpg">
                        <img src="./images/reviews/reviews-01.jpg" alt="автор відгука" width="181" height="181"
                            class="testimonials__image">
                    </picture>
                    <h3 class="testimonials__name">Jon Doe</h3>
                    <p class="testimonials__company">Company Inc.</p>
                    <p class="testimonials__text">Vestibulum placerat nisl quis justo venenatis, et lacinia nunc
                        venenatis. semper libero nec sapien condimentum dignissim. Nunc ante ligula, tempor in tellus
                        in, gravida vestibulum justo. Nulla facilisi. Nullam tristique eros quis nibh tempus, vel
                        viverra dolor pretium. Nam et vehicula leo. Vivamus hendrerit sit amet ante a tempus. Aenean
                        gravida massa et ante pulvinar, id </p>
                </div>
                <div class="testimonials__card swiper-slide">
                    <picture>
                        <source srcset="
                        ./images/reviews/reviews-01.webp 1x,
                        ./images/reviews/reviews-01@2x.webp 2x
                        " type="image/jpg">
                        <source srcset="
                        ./images/reviews/reviews-01.jpg 1x,
                        ./images/reviews/reviews-01@2x.jpg 2x
                        " type="image/jpg">
                        <img src="./images/reviews/reviews-01.jpg" alt="автор відгука" width="181" height="181"
                            class="testimonials__image">
                    </picture>
                    <h3 class="testimonials__name">Jon Doe</h3>
                    <p class="testimonials__company">Company Inc.</p>
                    <p class="testimonials__text">Vestibulum placerat nisl quis justo venenatis, et lacinia nunc
                        venenatis. semper libero nec sapien condimentum dignissim. Nunc ante ligula, tempor in tellus
                        in, gravida vestibulum justo. Nulla facilisi. Nullam tristique eros quis nibh tempus, vel
                        viverra dolor pretium. Nam et vehicula leo. Vivamus hendrerit sit amet ante a tempus. Aenean
                        gravida massa et ante pulvinar, id </p>
                </div>
                <div class="testimonials__card swiper-slide">
                    <picture>
                        <source srcset="
                        ./images/reviews/reviews-01.webp 1x,
                        ./images/reviews/reviews-01@2x.webp 2x
                        " type="image/jpg">
                        <source srcset="
                        ./images/reviews/reviews-01.jpg 1x,
                        ./images/reviews/reviews-01@2x.jpg 2x
                        " type="image/jpg">
                        <img src="./images/reviews/reviews-01.jpg" alt="автор відгука" width="181" height="181"
                            class="testimonials__image">
                    </picture>
                    <h3 class="testimonials__name">Jon Doe</h3>
                    <p class="testimonials__company">Company Inc.</p>
                    <p class="testimonials__text">Vestibulum placerat nisl quis justo venenatis, et lacinia nunc
                        venenatis. semper libero nec sapien condimentum dignissim. Nunc ante ligula, tempor in tellus
                        in, gravida vestibulum justo. Nulla facilisi. Nullam tristique eros quis nibh tempus, vel
                        viverra dolor pretium. Nam et vehicula leo. Vivamus hendrerit sit amet ante a tempus. Aenean
                        gravida massa et ante pulvinar, id </p>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>