<section id="team" class="team section">
    <div class="container">
        <h2 class="team__title">OUR TEAM</h2>
        <p class="team__subtitle">Nunc vulputate nibh sed congue facilisis. Curabitur posuere scelerisque neque. In sit
            amet
            lectus non lacus sollicitudin cursus a vitae felis. Praesent luctus mi quis nisi interdum eleifend.
        </p>
        <ul class="team__list">
            <li class="team__item">
                <a class="team__link">
                    <picture>
                        <!-- tablet screen -->
                        <source media="(min-width:768px)" srcset="
                        ./images/team/img-01_tab.webp 1x,
                        ./images/team/img-01_tab@2x.webp 2x
                        " type="image/webp">
                        <source media="(min-width:768px)" srcset="
                        ./images/team/img-01_tab.jpg 1x,
                        ./images/team/img-01_tab@2x.jpg 2x
                        " type="image/jpg">
                        <!-- mobile screen -->
                        <source media="(max-width:767px)" srcset="
                        ./images/team/img-01_mob.webp 1x,
                        ./images/team/img-01_mob@2x.webp 2x
                        " type="image/webp">
                        <source media="(max-width:767px)" srcset="
                        ./images/team/img-01_mob.jpg 1x,
                        ./images/team/img-01_mob@2x.jpg 2x
                        " type="image/jpg">
                        <img src="./images/team/img-01_mob.jpg" alt="працівник команди" class="team__image">
                    </picture>
                    <h3 class="team__name">Jon Doe</h3>
                    <h3 class="team__profession">Managing Direcor</h3>
                </a>
            </li>
            <li class="team__item">
                <a class="team__link">
                    <picture>
                        <!-- tablet screen -->
                        <source media="(min-width:768px)" srcset="
                        ./images/team/img-02_tab.webp 1x,
                        ./images/team/img-02_tab@2x.webp 2x
                        " type="image/webp">
                        <source media="(min-width:768px)" srcset="
                        ./images/team/img-02_tab.jpg 1x,
                        ./images/team/img-02_tab@2x.jpg 2x
                        " type="image/jpg">
                        <!-- mobile screen -->
                        <source media="(max-width:767px)" srcset="
                        ./images/team/img-02_mob.webp 1x,
                        ./images/team/img-02_mob@2x.webp 2x
                        " type="image/webp">
                        <source media="(max-width:767px)" srcset="
                        ./images/team/img-02_mob.jpg 1x,
                        ./images/team/img-02_mob@2x.jpg 2x
                        " type="image/jpg">
                        <img src="./images/team/img-02_mob.jpg" alt="працівник команди" class="team__image">
                    </picture>
                    <h3 class="team__name">Jane Doe</h3>
                    <h3 class="team__profession">Lead Designer</h3>
                </a>
            </li>
            <li class="team__item">
                <a class="team__link">
                    <picture>
                        <!-- tablet screen -->
                        <source media="(min-width:768px)" srcset="
                        ./images/team/img-03_tab.webp 1x,
                        ./images/team/img-03_tab@2x.webp 2x
                        " type="image/webp">
                        <source media="(min-width:768px)" srcset="
                        ./images/team/img-03_tab.jpg 1x,
                        ./images/team/img-03_tab@2x.jpg 2x
                        " type="image/jpg">
                        <!-- mobile screen -->
                        <source media="(max-width:767px)" srcset="
                        ./images/team/img-03_mob.webp 1x,
                        ./images/team/img-03_mob@2x.webp 2x
                        " type="image/webp">
                        <source media="(max-width:767px)" srcset="
                        ./images/team/img-03_mob.jpg 1x,
                        ./images/team/img-03_mob@2x.jpg 2x
                        " type="image/jpg">
                        <img src="./images/team/img-03_mob.jpg" alt="працівник команди" class="team__image">
                    </picture>
                    <h3 class="team__name">Jane Doe</h3>
                    <h3 class="team__profession">Lead Developer</h3>
                </a>
            </li>
            <li class="team__item">
                <a class="team__link">
                    <picture>
                        <!-- tablet screen -->
                        <source media="(min-width:768px)" srcset="
                        ./images/team/img-04_tab.webp 1x,
                        ./images/team/img-04_tab@2x.webp 2x
                        " type="image/webp">
                        <source media="(min-width:768px)" srcset="
                        ./images/team/img-04_tab.jpg 1x,
                        ./images/team/img-04_tab@2x.jpg 2x
                        " type="image/jpg">
                        <!-- mobile screen -->
                        <source media="(max-width:767px)" srcset="
                        ./images/team/img-04_mob.webp 1x,
                        ./images/team/img-04_mob@2x.webp 2x
                        " type="image/webp">
                        <source media="(max-width:767px)" srcset="
                        ./images/team/img-04_mob.jpg 1x,
                        ./images/team/img-04_mob@2x.jpg 2x
                        " type="image/jpg">
                        <img src="./images/team/img-04_mob.jpg" alt="працівник команди" class="team__image">
                    </picture>
                    <h3 class="team__name">Jon Doe</h3>
                    <h3 class="team__profession">Sr. UI Designer</h3>
                </a>
            </li>
        </ul>
    </div>
</section>