<section class="team">
    <h2 class="team__title">OUR TEAM</h2>
    <p class="team__subtitle">Nunc vulputate nibh sed congue facilisis. Curabitur posuere scelerisque neque. In sit amet
        lectus non lacus sollicitudin cursus a vitae felis. Praesent luctus mi quis nisi interdum eleifend.
    </p>
    <ul class="team__list">
        <li class="team__item">
            <a class="team__link">
                <!-- <img src="" alt="працівник компанії Jon" width="248"> -->
                <h3 class="team__name">Jon Doe</h3>
                <h3 class="team__profession">Managing Direcor</h3>
            </a>
        </li>
        <li class="team__item">
            <a class="team__link">
                <!-- <img src="" alt="працівниця компанії Jane" width="248"> -->
                <h3 class="team__name">Jane Doe</h3>
                <h3 class="team__profession">Lead Designer</h3>
            </a>
        </li>
        <li class="team__item">
            <a class="team__link">
                <!-- <img src="" alt="працівниця компанії Jane" width="248"> -->
                <h3 class="team__name">Jane Doe</h3>
                <h3 class="team__profession">Lead Developer</h3>
            </a>
        </li>
        <li class="team__item">
            <a class="team__link">
                <!-- <img src="" alt="працівник компанії Jon" width="248"> -->
                <h3 class="team__name">Jon Doe</h3>
                <h3 class="team__profession">Sr. UI Designer</h3>
            </a>
        </li>
    </ul>
</section>