.header {
    padding: 0;
    
    position: relative;
}

.header-container {
    padding-left: 20px;
    padding-right: 20px;

    padding-top: 14px;
    padding-bottom: 14px;
    position: absolute;

    background: linear-gradient(90.03deg, rgba(0, 197, 235, 0.3) -1.97%, rgba(181, 68, 254, 0.3) 89.43%);
    
    max-width: 480px;
    width: 100%;
    backdrop-filter: blur(17.5px);
    top: 20px;
    height: 68px;
    z-index: 100;
    margin-left: auto;
    margin-right: auto;
    bottom: 0;

    @media screen and (min-width: 768px) {
        max-width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }

    @media screen and (min-width: 1280px) {
        max-width: 1280px;
        padding-left: 16px;
        padding-right: 16px;
        top: 26px;
    }
}
.menu-btn {
    width: 26px;
    height: 16px;
    padding: 0;
   
    margin-left: auto;
   
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    border: none;
    background-color: transparent;
  
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
  
 

