
.hero {
    position: relative;
    // margin-left: auto;
    // margin-right: auto;
    color: var(--white-txt-bg-cl);
    height: 568px;
    display: flex;
    background-color: var(--dark-bg-cl);


    @media screen and (min-width: 768px) {
        height: 580px;
    }

    @media screen and (min-width: 1280px) {
        height: 684px;
    }
}

.hero-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 480px;
    overflow: hidden;

    background-repeat: no-repeat;
    background-image: 
    url(../images/hero/Маленький-градієнт-1sm.png),
    url(../images/hero/Маленький-радієнт-1sm.png);
    background-position: right -10px bottom -100px, right 2px bottom -150px ;


    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx){
      background-image: url(../images/hero/Маленький-градієнт-1sm@2x.png),
      url(../images/hero/Маленький-радієнт-1sm@2px.png);
    }

    @media screen and (min-width: 768px) {
        width: 768px;
        height: 580px;
        overflow: visible;
        background-position: top;
        background-image: url(../images/hero/1-elementmd.png),
        url(../images/hero/2-elementmd.png),
        url(../images/hero/3-elementmd.png),
        url(../images/hero/4-elementmd.png),
        url(../images/hero/5-elementmd.png),
        url(../images/hero/6-elementmd.png),
        url(../images/hero/7-elementmd.png),
        url(../images/hero/Градієнт-tabl.png),
        url(../images/hero/small-gr-tabl.png);

        background-position: right 207px bottom 276px, right 273px bottom 242px, right 260px bottom 159px, right 360px bottom 139px, right 391px bottom 59px, right 479px bottom 49px, right 484px bottom 0, right -20px bottom -100px, top 50px left 5px, right 207px bottom -16px;

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx){
        background-image: url(../images/hero/1-elementmd@2x.png),
        url(../images/hero/2-elementmd@2x.png),
        url(../images/hero/3-elementmd@2x.png),
        url(../images/hero/4-elementmd@2x.png),
        url(../images/hero/5-elementmd@2x.png),
        url(../images/hero/6-elementmd@2x.png),
        url(../images/hero/7-elementmd@2x.png),
        url(../images/hero/Градієнт-tabl@2x.png),
        url(../images/hero/small-gr-tabl@2x.png);
        }
    }

    @media screen and (min-width: 1280px) {
        width: 1280px;
        height: 684px;

        background-image:
        url(../images/hero/1-elementlg.png),
        url(../images/hero/2-elementlg.png),
        url(../images/hero/3-elementlg.png),
        url(../images/hero/4-elementlg.png),
        url(../images/hero/5-elementlg.png),
        url(../images/hero/6-elementlg.png),
        url(../images/hero/7-elementlg.png),
        url(../images/hero/Розпилення-desk.png),
        url(../images/hero/small-gr-tabl.png);

        background-position: right 500px bottom 357px, right 400px bottom 347px, right 633px bottom 267px, right 486px bottom 239px, right 688px bottom 155px, right 811px bottom 122px, right 827px bottom 39px, right -60px bottom -90px, top 100px left -5px;

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx){
        background-image: url(../images/hero/1-elementlg@2x.png),
        url(../images/hero/2-elementlg@2x.png),
        url(../images/hero/3-elementlg@2x.png),
        url(../images/hero/4-elementlg@2x.png),
        url(../images/hero/5-elementlg@2x.png),
        url(../images/hero/6-elementlg@2x.png),
        url(../images/hero/7-elementlg@2x.png),
        url(../images/hero/Розпилення-desk@2x.png),
        url(../images/hero/small-gr-tabl@2x.png);
        }
    }
}


.hero__main-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 12px;

    @media screen and (min-width=768px) {
        font-size: 40px;
        line-height: 1.2;
    }
}

.hero__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.22;
    margin-bottom: 20px;

    @media screen and (min-width=768px) {
        font-size: 20px;
        line-height: 1.2;
        margin-bottom: 28px;
    }
}


.hero__list {
    margin-left: 20px;
    margin-bottom: 60px;
}

.hero__item {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.25;
    margin-bottom: 16px;

    @media screen and (min-width=768px) {
        font-size: 16px;
        line-height: 1.18;
    }
}

.hero__item::before {
    content: '';
    position: absolute;
    display: inline-block;
    left: -5px;
    width: 18px;
    height: 18px;
    background-image: url(../images/hero/dashicons_arrow-right-alt2.svg);
}


.hero-block {
    position: relative;

    @media screen and (min-width: 768px) {

    }

    @media screen and (min-width: 1280px) {
        
    }
}


.hero__button {
    position: absolute;
    bottom: 122px;
    left: 130px;

    display: block;
    min-width: 150px;
    min-height: 42px;

    // margin-left: 120px;
    padding: 11px 59px 12px 59px;

    @media screen and (min-width: 768px) {
        margin-left: 0;
        left: 32px;
    }

    @media screen and (min-width: 1280px) {
        left: 16px;
    }

    font-weight: 700;
    font-size: 16px;
    line-height: 1.19;
    color: var(--white-txt-bg-cl); 
    text-transform: uppercase;
    
    border-radius: 5px;
    border: none;

    overflow: hidden;
    cursor: pointer;

    &::after,
    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
    }

    &::before {
        width: 100%;
        height: 100%;
        background-image: var(--gradient-bg-cl);
        background-size: cover;
        background-repeat: no-repeat;
    }

    &::after {
        width: calc(100% - 2px);
        height: calc(100% - 2px);
        border-radius: 5px;
        background-color: var(--dark-bg-cl);
        opacity: 0;
        transition: 250ms;
    }

    &-text {
        position: relative;
        z-index: 10;
    }

    &:hover::after,
    &:focus::after {
        opacity: 1;
    }    
}

.hero__img,
.hero__img-second {
    position: absolute;
    object-fit: contain;
}

.hero__img{
    height: 430px;
    right: -115px;
    bottom: 35px;
    mix-blend-mode: normal;
    opacity: 0.5;
    filter: drop-shadow(4px 4px 0px #252866);

    @media screen and (min-width: 768px) {
        width: 307px;
        height: 329px;
        right: 0;
        right: 22px;
        bottom: -10px;
        opacity: 1;

        mix-blend-mode: normal;
        filter: drop-shadow(4px 4px 0px #252866);
    }

    @media screen and (min-width: 1280px) {
        width: 430px;
        height: 460px;
    }
}

.hero__img-second {
    height: 456px;
    right: -150px;
    bottom: 15px;
    opacity: 0.5;

    @media screen and (min-width: 768px) {
        width: 328px;
        height: 350px;
        right: 0;
        bottom: -30px;
        opacity: 1;
    }

    @media screen and (min-width: 1280px) {
        width: 459px;
        height: 489px;
    }


}

.block {
    display: none;
    background-color: var(--white-txt-bg-cl);

    background-image: url(../images/hero/shadow-desk.png);
    background-repeat: no-repeat;
    background-position: right 100px bottom;

    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx){
        background-image: url
    }

    @media screen and (min-width: 768px) {
        display: block;
        height: 60px;
        background-position: right bottom;
    }

    @media screen and (min-width: 1280px) {
        background-position: right 60px bottom;
        
    }
}
