
.nav {
    display: flex;
    align-items: center;
}

.nav__list {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    align-items: center;

    @media screen and (max-width: 767px) {
        display: none;
    }
    
    @media screen and (min-width: 1280px) {

    }

}

.nav__item {
    list-style: none;
    margin-left: 40px;

    &:hover,
    &:focus {
        background: linear-gradient(90.03deg, #00C5EB -1.97%, #B544FE 89.43%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
    }
}

.nav__link {
    display: inline-block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.25;
    color: var(--white-txt-bg-cl);

    :last-child {
        margin-right: 0;
    }

}

